body {
    font-family: "Comic Sans ", arial, sans-serif;
    background: url('fondo-maquillaje.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1, p {
    color: #000000;
    text-align: center;
}

div {
    width: 60%;
    height: 500px;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.textoRemarcado {
    font-weight: bold;
    font-size: 18px;
}

.menu {
    list-style: none;
    padding: 0;
    background: #880e4f;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    border-radius: 8px;
    overflow: hidden;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    transition: background 0.3s;
}

.menu li a:hover {
    background: #333;
}
